body{
    margin: 0 ;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
    background-image: url(../views/background.jpeg);
    background-size: cover;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
p {
    margin: 0;
    padding: 1em 0;
    background-color: #ffffff;
}

.btn{
    display: block;
    background:  #4d4b4b;
    color: #ffffff;
    text-decoration: none;
    padding: 1em 2em;
    width: 80%;
}
.btn:hover{
    background-color: whitesmoke;
    color: #4d4b4b;
}
header{
    background-color: #ffffff;
    padding: 3em;
    color: #a30101;
    text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
}
#submit{
    width: 6em;
    height: 4em;
    background-color: #4d4b4b;
    border: none;
    color: cornsilk;
}
#submit:hover{
    background-color: whitesmoke;
    color: #4d4b4b;
}
/* section 1 */
#section1{
    background-color: #ffffff;
    color: #4d4b4b;
    padding: 2em;
}
/* section2 */
#section2{
    display: none;
    background-color: #eaeaea;

}
/* section3 */
#section3{
    background-color: #ffffff;


}
#section3 ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#section3 li{
    margin-bottom: 1em;
}
#button{
    padding: 3em;
    display: flex;
    align-content: center;
    justify-content: center;
}
/* section4 */
#section4{
    display: none;
    background-color: #eaeaea;
    color: #4d4b4b;
    padding: 2em;
} 


/* footer */
footer{
    padding: 2em;
    background-color: #3a3a3a;
    color: #ffffff;
    text-align: center;
}
/* media Query for bigger size*/
@media (min-width: 700px) {
body{
    width: 80%;
    margin: 0 auto;
}
.grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto,2.5em) 1fr) ;
}
.wrap ,
#section3 ul {
grid-column: 2/4;
}

header .pageTitle{ 
    grid-column: 1/4; 
}
.btn{
    display: block;
    background:  #4d4b4b;
    color: #ffffff;
    text-decoration: none;
    padding: 1em ;
    text-align: center;
    width:93%;

}
.btn:hover{
    background-color: whitesmoke;
    color: #4d4b4b;
}
#button ul{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;

}
#button ul li{
    width: 93%;
}
img{
    padding: 1em;
}
p{
    margin-left: 2em;
}

#content{
    margin: 0;
    height: 70%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-columns: 1fr 2fr;
    background-color: #fbfeff; 
    align-content: space-around;
    justify-content: center;
}
footer div{
   grid-column: 2/4; 
}

}